.wrapper {
    display: flex;
    flex-direction: column;
    /* padding: 16px; */
}
.wrapper > label {
    font-weight: 500;
}
.searchInput {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius:2px;
    padding:2px 8px;
    color:black;
    font-size: 14px;
    letter-spacing: 0.02em;
}