

ul, ol {
  list-style-type: none;
 padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 5px;
  width: 400px;
  padding: 16px;
  margin: 0 auto;
  min-height: 200px;

}

